__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
ENV/
*.egg-info/
dist/
build/

data/raw/*.xlsx
data/bronze/*.csv
data/silver/*.csv
data/gold/*.csv
data/processed/*.csv


*.db
*.sqlite


.env


.vscode/
*.code-workspace


.DS_Store
Thumbs.db
desktop.ini


.ipynb_checkpoints/